---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";
import '@/styles/globals.css'

import {
  Carousel,
  CarouselContent,
  CarouselItem,
  CarouselNext,
  CarouselPrevious,
} from "@/components/ui/carousel"

// Component Imports]
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Home from "@/components/Home.astro";
import Contact from "@/components/Contact.astro";
---
<BaseLayout>
  <!-- Sections -->
  <section id="home">
    <Home />
  </section>

  <section id="about">
    <About />
  </section>

  <section id="experience">
    <Experience />
  </section>

  <section id="projects">
    <Projects />
  </section>

  <section id="contact">
    <Contact />
  </section>
</BaseLayout>

<style lang="scss">
  body {
    scroll-behavior: smooth;
  }

  section {
    padding: 4rem 1.5rem;
    min-height: 50vh;
  }

  @media (min-width: 50em) {
    section {
      padding: 5rem 3rem;
    }
  }
  .tab-space {  
      display: inline-block;  
      margin-left: 24px;  
  }  

</style>
